body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    size: 150%;
    margin: 30px;
    font-size: 18px;
    text-align: justify;
    
			background-color: black;
			color: white;
		}

		h1, h2, h3 {
			color: #d80d0d;
		}
  header {
    background-color: solid, black;
    padding: 10px;
    display: flex;
      align-items: center;
    }
    
    .logo img {
      display: inline-block;
      width: 40%; 
    }
    
    nav {
      display: inline-block;
      margin-left: 5px; /* dar un margen a la derecha del logo */
      
    }
  
  nav ul {
    list-style-type: armenian;
    margin: 10px;
    padding: 10px;
  }
  
  nav li {
    display: inline-block;
    margin-right: 50px;
  }
  section {
    padding: 20px;
  }
  .section-image {
    float: left;
    margin-right: 20px;
  }
  main section{
    margin: 10px;
   }
.tamaño {
    height: 100vh;
    width: 100%;    
}
.imagen-actividad {
    height: 150px;
    width: 200px;
}
    .imagen-actividad img {
      display: inline-block;
      width: 20%; 
  }
  main h2 {
    font-size: 30px;
  }
  
  main h3 {
    font-size: 15px;
  }
  
  footer {
    background-color: #f3e0e0;
    padding: 50px;
    text-align: center;
    letter-spacing: normal;
    color: black;
  }