* {
    box-sizing: border-box;
    margin: 10px;
    font-family: 'playfair display', 'Times New Roman', Times, serif;
    color: black;
}
/*borde contenedor*/
.inside-article
{   
	border-top: 1px solid #6e93cc;
	border-bottom: 1px solid #6e93cc;
	border-left: 1px solid #6e93cc;
	border-right: 1px solid #6e93cc;
}

main { 
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 70% 30%;   
}
p {
    margin-top: 10px;
    font-size: 0.8em;
    margin-right: 100px;
}
h1 {
    text-align: center;
}
a {
    font-size: 0.8em;
    color: rgba(11, 12, 11, 0.791);
}
.tamaño {
    height: 100vh;
    width: 100%;    
}
.imagen-fragmento {
    height: 100px;
    width: 200px;
}
.imagen-fragmento-1 {
    width: 300px;
    height: 150px;
}
.imagen-pintura {
    height: 300px;
    width: 200px;
}
.contenedor-imagen-pintura {
    display: flex;
    flex-direction: column;
}
#seccion-1 {
    padding-top: 10px;
    padding-left: 10px;
}
#seccion-3 {
    padding-top: 10px;
    padding-left: 30px;
}
#subtitulo-seccion-2 {
    margin-bottom: 30px;
}
#contenedor-imagenes-seccion-2 {
    display: flex;
    justify-content: space-around;
}
#contenedor-imagenes-seccion-4 {
    display: flex;
    justify-content: space-evenly;
}
#nombre-autor {
    margin-left: 100px;
    margin-right: 100px;
}
/* background colores pastel */
body {
     background-color: #FFDAB9; /* naranja pastel */
  }


  